[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
llama-index = "*"
youtube-transcript-api = "*"
google-api-python-client = "*"
openai = "*"
gunicorn = "*"


[requires]
python_full_version = "3.8.13"
